{% load staticfiles %} 
<!doctype html> 
<html>
<head>
    <title>
        {% block title %}
            Big Boy Book Club
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
        <h1>Big Boy Book Club </h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'lograting' %}">Log Rating</a></li>
                <li><a href="{% url 'logshtetl' %}">Log Shtetl</a></li>
                <li><a href="{% url 'registration_create_thing' %}">Add a Book</a></li>
                <li><a href="{% url 'shtetl' %}">Shtetl Wins</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
                <li>
                    <a href="{% url 'password_reset' %}">
                        Forgot your password?
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>