{% load staticfiles %} 
<!doctype html> 
<html>
<head>
    <meta content="width=device-width, initial-scale=1" >
    <title>
        {% block title %}
            Big Boy Book Club
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="topnav">
                    <a href="{% url 'home' %}">Big Boy Book Club</a>
                    <a href="{% url 'lograting' %}">Log Rating</a>
                    <a href="{% url 'logshtetl' %}">Log Shtetl</a>
                    <a href="{% url 'registration_create_thing' %}">Add a Book</a>
                    <a href="{% url 'shtetl' %}">Shtetl Wins</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'auth_login' %}">Login</a>
                    <a href="{% url 'registration_register' %}">Register</a>
                    {% endif %}
                        <a href="{% url 'password_reset' %}">
                            Forgot your password?
                        </a>
                </div>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>