{% extends 'base.html' %}
{% block title %}
    Chart - {{ block.super }}
{% endblock title %}

{%block content %}
    <canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe  }},
            datasets: [{
                label: 'Average Rating',
                data: {{  data|safe  }},
                borderWidth: 1,
                backgroundColor: 'rgb(65,105,225)',
                borderColor: 'rgb(65,105,225)',
                hoverBackgroundColor: 'rgb(0,0,.1)',
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
{% endblock content %}