{% extends 'base.html' %}
{% block title %}
    Chart - {{ block.super }}
{% endblock title %}

{%block content %}
    <canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe  }},
            datasets: [{
                label: 'Average Rating',
                data: {{  data|safe  }},
                borderWidth: 1,
                backgroundColor: 'rgb(112,128,144)',
                borderColor: 'rgb(112,128,144)',
            },  
            {
                label: 'Charlie',
                data: {{ charlie|safe  }},
                borderWidth: 1,
                backgroundColor: 'rgb(65,105,225)',
                borderColor: 'rgb(65,105,225)',
            },
            {
                label: 'Harry',
                data: {{  harry|safe  }},
                borderWidth: 1,
                backgroundColor: 'rgba(255,215,0 ,1)',
                borderColor: 'rgba(255,215,0 ,1)',
            },
            {
                label: 'Mikey',
                data: {{ mikey|safe }},
                borderWidth: 1,
                backgroundColor: 'rgba(34,139,34 ,1)',
                borderColor: 'rgba(34,139,34 ,1)',
            },
            {
                label: 'Michael',
                data: {{ michael|safe }},
                borderWidth: 1,
                backgroundColor: 'rgba(255,99,71 ,1)',
                borderColor: 'rgba(255,99,71 ,1)',
            },            
        
        ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
{% endblock content %}